➤ BREAKDOWN BY CHAPTERS
00:00​ Introduction
02:35​ What is laravel?
05:18​ What can we create with Laravel?
06:32​ Laravel Documentation
09:25​ Installation
18:19​ Creating our first application
23:35​ Customizing our Terminal (MAC)
36:19​ Starting our first project in the browser
41:32​ Removing localhost from URL
43:13​ What code editor to use
46:26​ Setting up VS code [FREE]
59:01​ Setting up PHPstorm [PAID]
1:03:26​ First look at our application
01:08:41​ What is the .env file?
01:12:49​ Composer Json & Lock file
01:19:02​ Composer & Packagist
01:22:55​ The vendor directory
01:25:39​ Basic routing
01:30:19​ HTTP Responses In Routing
01:34:22​ Creating our first page
01:36:21​ Controllers
01:49:00​ Passing data to the views
01:56:33​ Route Parameters
02:08:31​ Named Routes
02:11:23​ Views
02:49:36​ Compiling assets [CSS & JS]
03:01:01​ Databases & Migrations
03:15:50​ Factory Model
03:23:40​ Query Builder
03:40:32​ Introduction to Eloquent
04:25:17​ Eloquent Serialization
04:33:24​ Eloquent One To Many
04:49:38​ Eloquent HasMany & HasOne
05:04:53​ Eloquent Many To Many
05:15:02​ Accessing the request
05:25:37​ Validation
05:36:13​ Form Requests
05:41:03​ Image upload
06:00:10​ Basic Artisan Commands
06:06:24​ Authorization & Authentication
